.description{
    display: grid;
    padding: 20px 70px;
    font-size: 20px;
    grid-template-rows: repeat(6,1fr);

}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: left;
    font-weight: bold;
}
.value{
    text-align: right;
}
@media screen and (max-width: 750px) {
    .description{
        padding: 5px 30px;
        font-size: 17px;
    }
}