.forecast{
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #1f2335;
    color: white;
}
@media screen and (max-width: 900px){
    .forecast{
        grid-template-columns: 2fr 3fr;
    }
}
@media screen and (max-width: 750px){
    .forecast{
        grid-template-rows: 3fr 4fr;
        grid-template-columns: 1fr;
    }
}