.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #1f2336;
    width: 80%;
    height: 50%;
    max-height: 750px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    max-width: 1000px;

}
@media screen and (max-width: 750px){
    .box{
        height: calc(100vh - 90px)
    }
}